body {
  margin: 0;
  text-align: center;
}

.App {
  display: grid;
  column-gap: 5px;
  grid-template-areas:
    'header header header header'
    'sidebar main main main'
    'footer footer footer footer';
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  grid-area: header;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
  color: red;
  margin: 0px;
}

.logo {
  display: flex;
  height: 120px;
}

.name {
  display: flex;
  text-align: center;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  background-color: black;
  color: white;
  width: 20vw;
  text-decoration: underline;
  height: 100%;
  padding-right: 5px;
}

a {
  color: skyblue;
}

ul {
  list-style: none;
}

ul li {
  padding-bottom: 10px;
}

.album_info {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border-color: black;
  width: 90%;
}

.album_art {
  display: flex;
  align-items: center;
  height: 50vw;
  width: 50vw;
  border: 20px;
  border-color: black;
  box-shadow: 10vw 10vw 5px silver inset;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-style: italic;
}

.album_details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 400px;
}

.footer {
  grid-area: footer;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wolf {
  display: flex;
  align-items: center;
  height: 120px;
}

.company {
  color: gold;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
